.cart-title {
  text-align: center;
  margin-top: 20px;
}

#cartContainer {
  max-width: 800px;
  margin: auto;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 15px 0;
  border-radius: 10px;
}

.cart-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-details {
  flex: 1;
}

.cart-details select {
  padding: 5px;
  margin-top: 10px;
}

.cart-subtotal {
  font-size: 18px;
  font-weight: bold;
}

.cart-total {
  text-align: center;
  font-size: 22px;
  margin-top: 20px;
  color: #e91e63;
}



.remove-btn {
  margin-top: 10px;
  padding: 6px 12px;
  border: none;
  background: #ff4d4d;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.remove-btn:hover {
  background: #e60000;
}
